
<div class="wrapper pt-5 pb-5 bg-color-section-highlight">
<div class="section pt-3 pb-3" id="{{section.settings.section_id}}">       
  <div class="container">
  {% if section.settings.title %}
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 text-center highlight-with-underline">
      <h3>{{ section.settings.title }}</h3>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, nobis.</p>
    </div>
  </div>  
  {% endif %}
</div>   

<div class="container pt-5 pb-5">
  
  <div class="row">               

      <div class="col-12 col-lg-6 {% if block.settings.layout == 'right' %} order-12 order-lg-1 {% endif %}">
         <img src="{{ section.settings.image | img_url: '900x900' }}" alt="" class="img-thumbnail img-fluid"> 
      </div>      

      <div class="col-12 col-lg-6 my-auto text-left">       

        {% if section.settings.text != blank %}
        
        <p class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Nobis vel iusto nihil minus! Explicabo velit expedita autem molestias, molestiae qui, esse consectetur provident rem dolor voluptatem nemo excepturi deserunt similique nostrum impedit quo perferendis tempore est optio, officia repellat. Explicabo sequi voluptatem esse, a et ex dicta totam, laboriosam libero.</p>
        
        {% endif %}    
        
      </div>  
    
    </div> 
    
</div>
</div>
</div>  
{% schema %}
{
   "name":{
      "en":"About"
   },
   "class":"index-section",
   "settings":[     
       {
         "type":"image_picker",
         "id":"image",
         "label":{
            "en":"Image"
         }
      },
      {
         "type":"text",
         "id":"section_id",
         "label":{
            "en":"Section ID"
         },
         "default":{
            "en":"my_section"
         }
      },
      {
         "type":"text",
         "id":"title",
         "label":{
            "en":"Title"
         },
         "default":{
            "en":"About"
         }
      },
      {
         "type":"richtext",
         "id":"text",
         "label":{
            "en":"Text"
         },
         "default":{
            "en":"<p>Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Eius ullam quibusdam ipsa dolorum aliquam corporis error reprehenderit, esse accusamus quaerat enim obcaecati, placeat doloribus beatae, assumenda voluptates laborum vel debitis earum ea asperiores sed? Reiciendis dignissimos ipsam eos? Alias enim perspiciatis minus dicta pariatur quia praesentium nisi maiores ipsam molestias.</p>"
         }
      }
   ],
   "presets":[
      {
         "name":{
            "en":"About"
         },
         "category":{
            "en":"text"
         }
      }
   ]
}
{% endschema %}
