
<div class="container pt-5">
<div class="card my-4 mb-5">
 <h5 class="card-header">{{section.settings.form_heading}}</h5>
 <div class="card-body">  
  {%- assign formId = 'ContactForm' -%}
  {% form 'contact', id: formId %}  
  {{ form.errors | default_errors }}

  <div class="form-group row">

    <div class="col-12 col-sm-6">            
      <label for="CommentAuthor">Name</label>
      <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" class="form-control bg-color-light" required>      
    </div>

    <div class="col-12 col-sm-6">
      <label for="CommentEmail">Email</label>      
      <input
      class="form-control bg-color-light"
      type="email"
      id="{{ formId }}-email"
      name="contact[email]"
      autocorrect="off"
      autocapitalize="off"
      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
      aria-required="true"
      required      
      >
    </div>

  </div>

  <div class="form-group">
    <label for="CommentBody">Message</label>    
    <textarea class="form-control bg-color-light" rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
  </div>                

  <input type="submit" value="{{ 'contact.form.submit' | t }}" class="btn text-color-light col-12">

  {% endform %}

</div>
</div>
</div>
{% schema %}
{
   "name":{
      "en":"Contact Form"
   },
   "class":"index-section",
   "settings":[      
      {
         "type":"text",
         "id":"form_heading",
         "label":{
            "en":"Form Heading"
         },
         "default":{
            "en":"Contact us"
         }
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Contact Form"
         },
         "category":{
            "en":"text"
         }
      }
   ]
}
{% endschema %}
