<footer class='navbar navbar-expand-sm bg-color-dark navbar-dark mt-5'>         
   <div class="container text-center justify-content-center text-center">                  
      <div class="row full-width mt-4">
        {% if section.settings.footer_text %}
        <div class="col-12">{{ section.settings.footer_text }}</div>                           
        {% endif %}
        {% if section.settings.show_social_media_icons %}
        <div class="row justify-content-center full-width social-media-links mt-2 mb-4 centered-content">
           <div class="col-12">
            <ul class="list-inline centered-content">               
              {% if settings.social_linkedin_link %}
               <li class="list-inline-item">
                  <a href='{{ settings.social_linkedin_link }}' target="_blank" class='btn btn-outline-light btn-social text-center rounded-circle'><i class="fa fa-linkedin"></i></a>
               </li>                      
               {% endif %}
               {% if settings.social_linkedin_link %}
               <li class="list-inline-item">
                  <a href='{{ settings.social_bitbucket_link }}' target="_blank" class='btn btn-outline-light btn-social text-center rounded-circle'><i class="fa fa-bitbucket"></i></a>
               </li>                            
               {% endif %}
            </ul>                
         </div>  
      </div>    
      {% endif %}
   </div>
</div>         
</footer>


{% schema %}
{
   "name":{
      "en":"Footer"
   },
   "settings":[
    {
      "type": "richtext",
      "id": "footer_text",
      "label": {    
        "en": "Text"        
      },
      "default": {    
        "en": "<p>Copyright © 2020, your_company</p>"    
      }
    },
    {
      "type": "checkbox",
      "id": "show_social_media_icons",
      "label": "Show Social Media Icons"              
    }
    ]
}
{% endschema %}