

<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul id="navigation">
        {% for link in linklists[section.settings.main_linklist].links %}      
          <li><a href="{{link.url}}">{{ link.title | escape }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

  {% schema %}
  {
    "name": {    
    "en": "Header"    
  },
  "settings": [         
  {
    "type": "link_list",
    "id": "main_linklist",
    "label": {        
    "en": "Menu"        
  },
  "default": "main-menu"
}    
]
}
{% endschema %}
