

<header class="section bg-color-section-highlight">
    <div class="container">
        <h1><i class="fas fa-graduation-cap"></i> {{section.settings.title}}</h1>        
    </div>
</header>
<section id="timeline">
   <ul>

    {% for block in section.blocks %}         
    <li>      
      <div class="qualification-item qualification-item-{{ forloop.index }}" type="button">
          <h3 class="qualification-item-{{ forloop.index }}"><i class="fas fa-chevron-right qualification-item-{{ forloop.index }}"></i> {{block.settings.title}}</h3>
          <span class="qualification-item-{{ forloop.index }}"><i class="qualification-item-{{ forloop.index }}">{{block.settings.date}}</i></span>
          <p class="qualification-item-{{ forloop.index }}">{{block.settings.summary}}</p>
       </div>      
    </li>    
    {% endfor %}

   </ul>
</section>

<script>

// Open a dialog windows
$(document).ready(function(){
   
    {% assign text_container = '' %}
    {% assign header_container = '' %}
    
    {% for block in section.blocks %}
      {% assign text_container = text_container | append: '$#$' | append: block.settings.full_text %}        
      {% assign header_container = header_container | append: '$#$' | append: block.settings.title %}        
    {% endfor %}

    var textContainer = '{{text_container}}'.split('$#$');
    textContainer.shift()
    var headerContainer = '{{header_container}}'.split('$#$'); 
    headerContainer.shift()

    var modals = [];

    // Create modals
   for (var i = 0; i < textContainer.length; i++) {               
 
      var htmlString = `<div class="modal" id="image_modal_${i}"><div class="modal-body"><div class="modal-content"><div class="modal-header"><h4 class="modal-title">${headerContainer[i]}</h4><span data-dismiss="modal" class="modal-close-btn"><span aria-hidden="true">&times;</span></span></div><div class="modal-body"><div class="container">${textContainer[i]}</div></div><div class="modal-footer"><button type="button" class="btn text-color-light" data-dismiss="modal">Close</button></div></div></div></div>`;
        modals.push(htmlString);   


        var qualificationItems = document.getElementsByClassName('qualification-item');                

        qualificationItems[i].addEventListener("click", function(event){     
               
          for (var i = 0; i < event.target.classList.length; i++) {      
            if(event.target.classList[i].split('qualification-item-').length > 1) {
              var id = event.target.classList[i].split('qualification-item-')[1];
              $("#image_modal_" + String(id - 1) ).modal();  
            }
          }

        });
      }          
      

    for (var i = 0; i < modals.length; i++) {
      document.body.insertAdjacentHTML( 'beforeend', modals[i] );
   }

  });
</script>


{% schema %}
{
   "name":{
      "en":"Knowledge Tree"
   },
   "settings":[       
       {
         "type":"text",
         "id":"section_id",
         "label":{
            "en":"Section ID"
         },
         "default":{
            "en":"my_section"
         }
      },
      {
         "type":"text",
         "id":"title",
         "label":{
            "en":"Title"
         },
         "default":{
            "en":"Qualifications & Skills"
         }
      }
   ],
   "blocks":[
      {
         "type":"text_block",
         "name":{
            "en":"Knowledge Tree items"
         },
         "settings":[            
            {
               "type":"text",
               "id":"title",
               "label":{
                  "en":"Title"
               },
               "default":{
                  "en":"Item"
               }
            },
            {
               "type":"text",
               "id":"date",
               "label":{
                  "en":"Date"
               },
               "default":{
                  "en":"2020"
               }
            },
            {
               "type":"text",
               "id":"summary",
               "label":{
                  "en":"Summary of your accomplishment."
               },
               "default":{
                  "en":"Lorem ipsum dolor sit amet consectetur adipisicing, elit. Esse nemo, voluptates cumque illo at quis deleniti enim mollitia veritatis saepe aliquid ipsum quos quo nam harum atque sunt vel, laboriosam dolorum? Quis saepe porro nulla amet incidunt qui ipsam numquam minima non odio impedit officiis perspiciatis quos nisi maiores, dignissimos?"
               }
            },
            {
               "type":"richtext",
               "id":"full_text",
               "label":{
                  "en":"Describe your accomplishment in full detail."
               },
               "default":{
                  "en":"<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Esse nemo, voluptates cumque illo at quis deleniti enim mollitia veritatis saepe aliquid ipsum quos quo nam harum atque sunt vel, laboriosam dolorum? Quis saepe porro nulla amet incidunt qui ipsam numquam minima non odio impedit officiis perspiciatis quos nisi maiores, dignissimos?</p>"
               }
            }
         ]
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Knoweldge Tree"
         },
         "category":{
            "en":"Text"
         },
         "blocks":[            
            {
               "type":"text_block"
            },
            {
               "type":"text_block"
            },
            {
               "type":"text_block"
            },
            {
               "type":"text_block"
            }
         ]
      }
   ]
}
{% endschema %}
