// put your styles here

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1rem/1.5 'Arial', sans-serif;    
    color: {{settings.text_color}}!important;
    overflow-x: hidden;
}

.section {
    padding: 4rem 0;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.3rem;
}

.highlight-with-underline h3{
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: {{settings.cta_color}}!important;
    text-underline-offset: 10px;
}

/* Utility classes */
.bg-color-dark{
   background-color: {{settings.dark_color}}!important;
}

.bg-color-cta{
   background-color: {{settings.cta_color}}!important;   
}

.bg-color-section-highlight{
   background-color: {{settings.hihglight_section_color}}!important;
}

.bg-color-accent {
   background-color: {{settings.accent_color}}!important;
}

.bg-color-light {
   background-color: {{settings.light_color}}!important;
}

.text-color {
  color: {{settings.text_color}}!important;
}

.text-color-light {
  color:{{settings.light_color}}!important; 
}

.centered-content{
 margin: auto;
}

.text-left{
   text-align: left;
}

.text-right{
   text-align: right;
}

text-center{
  text-align: center;
}

.display-none{
  display: none;
}

.full-width{
  width: 100%;
 }

#timeline ul {
    background: {{settings.light_color}}!important;
    padding: 50px 0;
}

/* Create Line */
#timeline ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: {{settings.text_color}}!important;;
}

/* Boxes */
#timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background: {{settings.accent_color}}!important;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0; 
}

/* Right side */
#timeline ul li:nth-child(odd) div {
    left: 40px;
    transform: translate(-200px, 0);
}

/* Left side */
#timeline ul li:nth-child(even) div {
    left: -434px;
}

/* Dots */
#timeline ul li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: inherit;
    transform: translateX(-50%);
    border-radius: 50%; 
    transition: background 0.5 ease-in-out;
}

/* Arrows Base */
#timeline div:before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid; 
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent {{settings.accent_color}} transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent {{settings.accent_color}}!important;
}

/* Show Boxes */
#timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

#timeline ul li.show:after {
    background: {{settings.accent_color}}!important;
}

.container {    
    width: 875px;
    margin: auto;
}

.wrapper {
    background-color: #5b7bb4
}

/* Media Queries */
@media(max-width: 900px) {
    #timeline ul li div {
        width: 250px;
    }

    .container {
        width: 575px;
    }

    #timeline ul li:nth-child(even) div {
        left: -284px;
    }
}

@media(max-width: 600px) {
    #timeline ul li {
        margin-left: 20px;
    }

    #timeline ul li div {
        width: calc(100vw - 90px);
    }

    .container {
        width: 90vw;
    }

    #timeline ul li:nth-child(even) div {
        left: 40px;
    }

    #timeline ul li:nth-child(odd) div:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent {{settings.accent_color}}!important transparent transparent;
    }
}

/* Button classes */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: {{settings.cta_color}}!important;
  border-color: {{settings.cta_color}}!important;
}

.btn:hover {
   background-color: {{settings.dark_color}}!important;
}

.modal-close-btn{
 font-size: 1.6rem;
 cursor: pointer;
}

/* Contact form */ 
.card-header{
   background-color: {{settings.accent_color}}!important;
}

.card-body{
   background-color: {{settings.light_color}}!important;
}

.card{
   background-color: {{settings.light_color}}!important;
}

/* Footer */
footer{
  color: white;   
}

footer .btn:hover {
   background-color: {{settings.light_color}}!important;   
}

.social-media-links{
  margin-left: 0px!important;
  margin-right: 0px!important;
}